@import "font.css";

* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

}


:root {
    --color--white: #fff;
    --color--text: #494A48;
    --color--text--dark: #130505;
    --color--primary: #CC312D;
    --color--secendery: #F7F7F7;
    --color--blue: #2E7AF1;
    --color--blue--light: #448CF91A;
    --color--green: #0CAF3A;
    --color--fours--light: #1BAC441A;
    --color--border: #E6E6E6;
    --color--active: #2F0D0C;

}
body, input, textarea, button, select, p ,span, a {
    font-family: 'vazir' , sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
}

input, textarea , button{
    outline: none;
    border: none;
    background: none;
}

button{
    cursor: pointer;

}


a{
    text-decoration: none;
    cursor: pointer;
}

a.hover{
    color: var(--color--primary) ;
}

a.active {
    color: var(--color--primary) ;
    font-weight: bold;
}

li,ul{
    list-style: none;

}


h1{
    color: var(--color--text);
    font-size: 2rem;
}

h2{
    color: var(--color--text);
    font-size: 1.8rem;
}

h3{
    color: var(--color--text);
    font-size: 1.6rem;
}

svg{
    width: 1.6em;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

button.active{
    background-color: var(--color--active);
    border-radius: 4.4rem;
    color: var(--color--white);
    font-weight: 500;
}

@media screen and (min-width: 375px) {

}


/*section*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.dashboard{
    background-color:var(--color--secendery);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;

}

.dashboard__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--color--border);
    gap: 3rem;
    padding-bottom: 1rem;
}

.profile__image{
    background-color: var(--color--white);
    padding: 1.5rem 1.8rem;
    border-radius: 1.2rem;
}

.profile__name{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.profile__edite > svg{
    border-bottom: 1.5px solid var(--color--text--dark);
}

.dashboard__nav{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.2rem;
}

.dashboard__nav > button{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 1.3rem;


}

.dashboard__nav > :last-child{
    margin-top: 2.5rem;
}


.nav-message-num{
    background-color: var(--color--primary);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    color: var(--color--white);
    margin-right: auto;

}



.orders{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.orders__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--color--border);
    padding-bottom: 1rem;
}

.orders__header h3{
    margin: auto;
}

.orders__header svg{
    height: 1rem;
}

.orders__info{
    display: flex;
    margin: 1rem;
    overflow-x: auto;
    gap: 1rem;

}

.info__card{
    display: flex;
    gap: 1rem;
    border: 1.5px solid var(--color--border);
    border-radius: 1.6rem;
    padding: 2rem;
    flex: 0 0 22rem;

}

.info__card > :first-child{
    background-color: var(--color--blue--light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
    border-radius: 1rem;
}

.info__card svg{
    width: 1.9em;
    aspect-ratio: 1 / 1;
}

.info__details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}




/*div , button{*/
/*    border: 1px solid var(--color--text);*/
/*    width: 100%;*/
/*    height: 30rem;*/
/*}*/
