@import "font.css";

* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

}


:root {
    --color--white: #fff;
    --color--text--light: rgba(73, 74, 72, 0.4);
    --color--text--dark: #130505;
    --color--text--secendry: #2B2D42;
    --color--primary: #CC312D;
    --color--primary--light: #E5303F1A;
    --color--secendery: #F7F7F7;
    --color--blue: #2E7AF1;
    --color--blue--light: #448CF91A;
    --color--green: #0CAF3A;
    --color--green--light: #1BAC441A;
    --color--border: #E6E6E6;
    --color--active: #2F0D0C;
    --color--gray--light: #1717171A;

}
body, input, textarea, button, select, p ,span, a {
    font-family: 'vazir' , sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color--text--dark);
}

input, textarea , button{
    outline: none;
    border: none;
    background: none;
}

button{
    cursor: pointer;

}


a{
    text-decoration: none;
    cursor: pointer;
}

a.hover{
    color: var(--color--primary) ;
}

a.active {
    color: var(--color--primary) ;
    font-weight: bold;
}

li,ul{
    list-style: none;

}


h1{
    color: var(--color--text--dark);
    font-size: 2rem;
}

h2{
    color: var(--color--text--dark);
    font-size: 1.8rem;
}

h3{
    color: var(--color--text--dark);
    font-size: 1.6rem;
}

svg{
    width: 1.6em;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}

button.active{
    background-color: var(--color--active);
    border-radius: 4.4rem;
    color: var(--color--white);
    font-weight: 600;
}

.text--bold{
    font-weight: bold;
    font-size: 1.8rem;
}

.text--light{
    color: var(--color--text--light);
}

@media screen and (min-width: 375px) {

}


/*section*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.dashboard{
    background-color:var(--color--secendery);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    max-width: 92%;

}

.dashboard__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--color--border);
    gap: 3rem;
    padding-bottom: 1rem;
}

.profile__image{
    background-color: var(--color--white);
    padding: 1.5rem 1.8rem;
    border-radius: 1.2rem;
}

.profile__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.profile__phone{
    color: var(--color--text--light);
}



.profile__edite > svg{
    border-bottom: 1.5px solid var(--color--text--dark);
}

.dashboard__nav{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.2rem;
}

.dashboard__nav > button{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    padding: 1.3rem;


}

.dashboard__nav > :last-child{
    margin-top: 2.5rem;
}


.nav-message-num{
    background-color: var(--color--primary);
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    color: var(--color--white);
    margin-right: auto;

}



.orders{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.orders__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--color--border);
    padding-bottom: 1rem;
}

.orders__header h3{
    margin: auto;
}

.orders__header svg , .card__Details svg{
    height: 1rem;
}

.orders__info{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scrollbar-width: none;

}


.orders__info > :first-child{
    margin-right: 1rem;
}

.info__card{
    display: flex;
    gap: 1rem;
    border: 1.5px solid var(--color--border);
    border-radius: 1.6rem;
    padding: 2rem;
    flex: 0 0 22rem;

}
.info__card.active{
    border-color: var(--color--primary);
}


.info__card > :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
    border-radius: 1rem;
}

.card--Processing{
    background-color: var(--color--blue--light);
}

.card--check{
    background-color: var(--color--green--light);
}
.card--returns{
    background-color: var(--color--gray--light);
}
.card--cancel{
    background-color: var(--color--primary--light);
}



.info__card svg , .card__status svg {
    width: 1.9em;
    aspect-ratio: 1 / 1;
}



.info__details{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.info__details > :last-child{
    color: var(--color--text--secendry);
    font-weight: 500;
    font-size: 2rem;
}

.order__card{
    border-top: 1.5px solid var(--color--border);
    padding: 2.5rem 2rem;
}

.card__status{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color--blue--light);
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: var(--color--blue);
}

.card__status.active span{
    color: inherit;
}



.card__description{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1rem;
}



.card__description > :last-child{
    margin-right: auto;
}



.card__Details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color--secendery);
    padding: 1.5rem;
    border-radius: 1.7rem;
    gap: 3rem;
}



.details__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 26rem;
}

.details__img__container{
    background-color: var(--color--white);
    border-radius: 1.2rem;
    border: 4px solid var(--color--secendery);
    width: 100%;
    margin-left: -1.5rem;
    padding: 0.5rem;

}

.details__img__container img{
    width: 100%;
}

.details__img__container span{
    display: none
}

.card__Details button{
    display: flex;
    align-items: center;
    flex-shrink: 0;

}

.card__Details button span{
    color: var(--color--primary) !important;
    font-weight: 600;

}

@media (min-width: 768px) {
    .text--light{
        color: var(--color--text--dark);
    }
    .main{
        flex-direction: row;
        align-items: flex-start;
    }

    .dashboard{
        max-width: 31rem;
    }
    .orders__header{
        display: none;
    }

    .orders__cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .order__card{
        border: 1px solid var(--color--border);
        border-radius: 1.6rem;
    }

    .card__description{
        flex-direction: row;
        gap: 3rem;
    }

    .details__img{
        gap: 2.5rem;
    }

    .details__img__container{
        position: relative;
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 1rem;

    }

    .details__img span{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -1rem;
        left: -1rem;
        width: 2rem;
        height: 2rem;
        background-color: var(--color--gray--light );
        border: 1px solid var(--color--text--dark);
        border-radius: 100%

    }



}


